* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1.inicio {
    margin-top: -5px;
    color: rgba(163, 228, 215, 0.8); /* Azul Escuro (ajustado) */
    font-size: 37px;
    font-style: oblique;
}

h1.heading {
    font-size: 40px;
    font-weight: 700;
    word-spacing: 8px;
    text-align: center;
    margin: 20px 50px 20px;
    text-transform: uppercase;
    color: #2C3E50; /* Cinza Escuro (ajustado) */
    font-size: 1.9rem;
    margin: 80px 0px 0px;
    border: solid 2px;
    border-color: #1ABC9C;
    background-color: #1ABC9C;
}

ul {
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F0F0F0; /* Cinza Claro */
    color: #2C3E50; /* Cinza Escuro (ajustado) */
}

.topo {
    outline: none;
    border-width: 2px;
    border: solid;
    border-color: #1ABC9C; /* Verde Escuro (ajustado) */
    background-color: #FFFFFF; /* Branco */
    width: 60px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    box-shadow: 0 1px 6px 2px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    bottom: 97px;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.topo.active {
    opacity: 1;
    visibility: visible;
}

.topo img {
    background-color: #FFFFFF; /* Branco */
}

.header {
    position: fixed;
    width: 100%;
    background-color: rgba(41, 127, 185, 0.91); /* Azul Escuro Translúcido (ajustado) */
    z-index: 1000;
    height: 10vh;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 75px;
    margin: 0 auto;
    padding: 0 27px;
}

.nav_list {
    display: flex;
    column-gap: 250px;
}

div.botoes_principal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botoes {
    margin: 5px;
    margin-top: auto;
}

button.voltar {
    margin-top: -5px;
    font-size: 19px;
    background-color: #85C1E9; /* Verde Escuro (ajustado) */
    color: #2C3E50;
    border-radius: 7px;
    border-style: solid;
    border-color: #2980B9; /* Verde Escuro (ajustado) */
    border-width: 2px;
    padding: 5px 10px;
    width: 90px;
}

button.voltar:hover {
    background-color: #2980B9; /* Cinza Escuro (ajustado) */
    color: #FFFFFF;
    cursor: pointer;
    border-color: #1ABC9C; /* Azul Escuro (ajustado) */
}

.nav_link {
    color: #2C3E50; /* Cinza Escuro (ajustado) */
    font-size: 20px;
    border-width: 6px;
}

.nav_link:hover {
    color: #FFFFFF;
    border-style: solid;
    border-radius: 7px;
    background-color: #2980B9; /* Azul Escuro (ajustado) */
    font-size: 20px;
    border: none;
}

.active {
    border-color: #2980B9; /* Azul Escuro (ajustado) */
}

button.login {
    margin-top: -5px;
    font-size: 19px;
    background-color: #1ABC9C; /* Verde Escuro (ajustado) */
    color: #FFFFFF;
    border-radius: 7px;
    border-style: solid;
    border-color: #1ABC9C; /* Verde Escuro (ajustado) */
    border-width: 2px;
    padding: 5px 10px;
    width: 90px;
}

.login:hover {
    background-color: #2980B9; /* Azul Escuro (ajustado) */
    color: #FFFFFF;
    cursor: pointer;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.section {
    height: 200vh;
    display: flow-root;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section:nth-child(1) {
    background: #FFFFFF; /* Azul Claro (ajustado) */
}

.section:nth-child(2) {
    background: #2C3E50; /* Cinza Escuro (ajustado) */
    color: #FFFFFF;
    text-align: left;
    height: 20vh;
}

button.contato {
    width: 100%;
    background-color: #1ABC9C; /* Verde Escuro (ajustado) */
    border: solid;
    border-width: 2px;
    border-color: #1ABC9C; /* Verde Escuro (ajustado) */
    color: #FFFFFF;
}

button.github {
    background-color: #2980B9; /* Azul Escuro (ajustado) */
    border: solid;
    border-width: 2px;
    height: 34px;
    border-color: #2980B9; /* Azul Escuro (ajustado) */
    border-radius: 10px;
}

button.github:hover {
    background-color: #85C1E9; /* Azul Claro (ajustado) */
    border-color: #85C1E9;
    cursor: pointer;
}

a.email {
    text-decoration: underline;
}

h2.heading {
    text-align: center;
    margin-top: 2px;
    color: #2C3E50; /* Cinza Escuro (ajustado) */
}

div.informacao_contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    height: 13vh;
    color: #2C3E50; /* Cinza Escuro */
    text-align: center;
    font-size: 0.9rem;
    background: rgb(41, 127, 185); /* Branco */
}

.informacao_conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

h2.heading{
    font-size: 1.9rem;
    margin: 0px 0px 0px;
    border: solid 2px;
    border-color: #1ABC9C;
    background-color: #1ABC9C;
}

@media (max-width: 768px) {
    .header_content {
        flex-direction: column;
        height: auto;
    }

    header {
        position: fixed;
        width: 100%;
        background-color: #2980B9; /* Azul Escuro (ajustado) */
        z-index: 1000;
        height: 10vh;
    }

    .nav_list {
        display: flex;
        flex-direction: row;
        margin-top: -180px;
        justify-content: space-evenly;
    }

    .botoes {
        margin: 150px;
    }

    .nav_list.active {
        display: flex;
    }

    .header_content {
        padding: 0 15px;
    }

    .nav_link {
        font-size: 18px;
        padding: 10px 0;
    }

    .login {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}
