body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    background-color: #2980B9;
    padding: 20px;
    border-radius: 8px;
    color:#ffffff;
    box-shadow: 0 0 10px #2980B9;
    width: 400px;
    text-align: left;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 60px;
}

form {
    display: flex;
    flex-direction:column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: 2px solid;
    border-color: #2980B9;
    border-radius: 4px;
    background-color: #85C1E9;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px
}

button:hover {
    background-color: #1ABC9C;
    border: 2px solid;
    border-color: #85C1E9;
}
