body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F0F0F0;
}

.login-container {
    background-color: #2980B9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #1ABC9C;
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color:#ffffff;
}

.input-group {
    margin-bottom: 10px;
    text-align: left;
    color:#ffffff;
}

.input-group label {
    display: block;
    margin-bottom: 7px;
}

.input-group input {
    width: 96%;
    padding: 5px;
    border: 1px solid #1ABC9C;
    border-radius: 4px;
}

#MostrarSenha {
   
    background-color: transparent;
    color: #ffffff;
    margin-bottom: 5px;
    text-align: center;
    width: 40%;
    display: block;
    margin-left:auto;
    font-size: small;
}

#MostrarSenha:hover{
    color: #2C3E50;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #85C1E9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:medium;
 
}

.entrar{
    border: 2px solid #2980B9;
}

button.entrar:hover {
    background-color: #1ABC9C;
    border: 2px solid #85C1E9;
}

#EsqueciSenhaBtn {
    background-color: #1ABC9C;
    color: #ffffff;
    border: 2px solid #85C1E9;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: left;
    width: 50%;
    font-size: small;
    text-align: center;
}

#EsqueciSenhaBtn:hover {
    background-color: #85C1E9;
    color: #ffffff;
#message {
    margin-top: 15px;
color: #ffffff;}}

#CriarContaBtn{
    background-color: #1ABC9C;
    color: #ffffff;
    border: 2px solid #85C1E9;
    margin-top: 10px;
    width: 48%;
    font-size: small;
  
   
}
#CriarContaBtn:hover {
    background-color: #85C1E9;
    color: #ffffff;
#message {
    margin-top: 15px;
    color:#ffffff
  
}
}
