body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F0F0F0;
    color: #ffffff;
 
    
}

.forgot-password-container {
    background-color: #2980B9;
    padding: 30px;
    border-radius: 8px;
   box-shadow: 0 0 10px #1ABC9C;
    width: 300px;
    text-align: center;
  
}

h2 {
    margin-bottom: 60px;
    width: 300px;
    align-items: center;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display:flex;
    margin: 10px;
    margin-bottom: 5px;
    margin-left: auto;
  
   
 
}

.input-group input {
    width: 94%;
    padding: 8px;
    border: 1px solid #1ABC9C;
    border-radius: 4px;
    margin-top: 5px;
}
#MostrarSenha {
   
    background-color: transparent;
    color: #ffffff;
    margin-bottom: 0;
    text-align: center;
    width: 40%;
    display: block;
    margin-left:auto;
    font-size: small;
    margin-top: auto;
    }

    #MostrarSenha:hover{
        color: #2C3E50;
    }

    button {
    width: 100%;
    padding: 10px;
    background-color: #85C1E9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size:medium;
}


.validar{
    border: 2px solid #2980B9;
}

.validar:hover{
    background-color: #1ABC9C;
    border: solid 2px #85C1E9;
}

#message {
    margin-top: 15px;
    color: red;
   
}
